<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css"> -->

    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway" rel="stylesheet">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">   <!--Prevent favicon errors-->

    <title>ML Foodie</title>
  </head>

  <body style="overflow: scroll;">
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-nav fixed-top">
		<div class="container">
		  <a class="navbar-brand mr-4 nav-logo" href="/">ML Foodie</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarToggle">
			<div class="navbar-nav mr-auto"></div>
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
			  <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
        <a class="nav-item nav-link" href="{{ url_for('disclaimer') }}">Disclaimer</a>
			</div>
		  </div>
		</div>
	  </nav>
	</header>
<!--
	{% block content %}
	{% endblock %} -->

	<div class="block-one">
		<br>
		<div class="container block-one-pad">
			<h1 class="display-4 title-text">WELCOME TO </h1>
			<h1 class="display-4 title-text">ML Foodie</h1>
		</div>
	</div>

	<div class="block-two">
		<div class="container">
			<h2 class="desc">Create different recipes with your ingredients!</h2>
      <br>
        <div id="div_foodInput">
            <h1 class="title">Input your Ingredients</h1>
            <p>Input your list of leftover ingredients and experiment with different recipes!</p>
            <form id="form_foodInput" action="#" onsubmit="search(event)" >
                <ul id="ul_foodInput" >
                    <li id="li_foodInput1">
                        <input type="text" placeholder="Item 1" id="input_food1" required="required" class="input_food">
                    </li>
                    <li id="li_foodInput2">
                        <input type="text" placeholder="Item 2" id="input_food2" required="required" class="input_food">
                    </li>
				</ul>
				<button class="btn btn-primary" type="button" onclick="addFood()" id="button_addFood">Add Food</button>
				<button class="btn btn-primary" type="submit" id="button_search" >Search</button>
				<button class="btn btn-primary" style="visibility:hidden;" type="button" onclick = "removeFood()" id="button_removeFood">X</button>
			</form>
		</div>
       
          <div class="col-6 d-flex justify-content-center">
            
            <output id="output_search"></output>
          </div>
        </div>
      </div>
    </div>

    <div class="block-three">
        <div id="div_results"></div>
        <!-- <button onclick="test()">Test</button> -->
      </div>

  <footer class="page-footer font-small pt-4 footer-styling">
		<div class="container text-center text-md-left">
		  <div class="row">
			<div class="col-md mt-md-0 mt-3">
			  <h3 class="text-uppercase">ML Foodie</h3>
			</div>
			<hr class="clearfix w-100 d-md-none pb-3">
			<div class="col-md mb-md-0 mb-3 justify-content-end">
				<h5 class="text-uppercase">Created By</h5>
				<ul class="list-unstyled">
				  <li>Eric Liu</li>
          <li>Mark Chen</li>
				</ul>
			  </div>
		  </div>
		</div>
	</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/mainScript.js') }}"></script>

<script type="text/javascript">
		$(window).scroll(function() {
			var scrollTop = $(this).scrollTop();
			var elementHeight = $('.block-one').height();

			$('.bg-nav').css({
				background: function() {
					var a = 1 - (elementHeight - scrollTop) / elementHeight;
					return "rgba(16,16,16," + a + ")";
				}
			});
		});
	</script>
</body>
</html>
