<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway" rel="stylesheet">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">   <!--Prevent favicon errors-->

    {% if page %}
      <title>{{ page }} | ML Foodie</title>
    {% else %}
      <title>ML Foodie</title>
    {% endif %}

    <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/web2py_bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/web2py.js') }}"></script>

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

	<link href="{{ url_for('static', filename='bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"/>



	<link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>


  </head>

  <body style="overflow-x: hidden;">
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-nav fixed-top">
		<div class="container">
		  <a class="navbar-brand mr-4 nav-logo" href="/">ML Foodie</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarToggle">
			<div class="navbar-nav mr-auto"></div>
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
				<a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
				<a class="nav-item nav-link" href="{{ url_for('disclaimer') }}">Disclaimer</a>
				<a class="nav-item nav-link" href="{{ url_for('test') }}">Test</a>
			</div>
		  </div>
		</div>
	  </nav>
	</header>
<!--
	{% block content %}
	{% endblock %} -->

  <div class="block-one">
		<br>
		<div class="container block-one-pad">
			<h1 class="display-4 title-text">ML Foodie</h1>
      <br>
      {% if page %}
        <h1 class="display-4 title-text">{{ page }}</h1>
      {% endif %}
		</div>
	</div>

  <div class="block-two">
		<div class="container">
      <h2 class="desc">Here are your generated recipes!</h2><br>
      <br>
        <h1 class="desc">Bon Apetit!</h1><br>
      </div>
  </div>

  <div class="block-three">
        <div class="container">
          <h1 class="desc">Recipes</h1><br>
          <div class="row">


<div id = "imgcontainer">
		
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="134292" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Jalapeno_Popper_Grilled_Cheese_Sandwich/35382' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/Jalapeno2BPopper2BGrilled2BCheese2BSandwich2B12B500fd186186.jpg" alt="Jalapeno Popper Grilled Cheese Sandwich Recipe"><br />
					<span class='recipe-name'>
						Jalapeno Popper Grilled Cheese Sandwich
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=52"> 
						Closet Cooking
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="53344" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Perfect_Iced_Coffee/47024' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/icedcoffee5766.jpg" alt="Perfect Iced Coffee Recipe"><br />
					<span class='recipe-name'>
						Perfect Iced Coffee
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=20"> 
						The Pioneer Woman
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="53647" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Crash_Hot_Potatoes/47319' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/CrashHotPotatoes5736.jpg" alt="Crash Hot Potatoes Recipe"><br />
					<span class='recipe-name'>
						Crash Hot Potatoes
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=20"> 
						The Pioneer Woman
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="53846" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Stovetop_Avocado_Mac_and_Cheese/54384' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/avocadomacandcheesedc99.jpg" alt="Stovetop Avocado Mac and Cheese Recipe"><br />
					<span class='recipe-name'>
						Stovetop Avocado Mac and Cheese
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=21"> 
						Two Peas and Their Pod
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="134801" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Buffalo_Chicken_Grilled_Cheese_Sandwich/35171' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/Buffalo2BChicken2BGrilled2BCheese2BSandwich2B5002B4983f2702fe4.jpg" alt="Buffalo Chicken Grilled Cheese Sandwich Recipe"><br />
					<span class='recipe-name'>
						Buffalo Chicken Grilled Cheese Sandwich
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=52"> 
						Closet Cooking
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="53712" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Cinnamon_Rolls/d9a5e8' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/333323997_04bd8d6c53da11.jpg" alt="Cinnamon Rolls Recipe"><br />
					<span class='recipe-name'>
						Cinnamon Rolls
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=20"> 
						The Pioneer Woman
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="135076" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Best_Pizza_Dough_Ever/47746' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/best_pizza_dough_recipe1b20.jpg" alt="Best Pizza Dough Ever Recipe"><br />
					<span class='recipe-name'>
						Best Pizza Dough Ever
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=53"> 
						101 Cookbooks
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        
            <!-- <div class="item">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="fluid"
                     data-ad-layout-key="-7y+er-j-q+3h"
                     data-ad-client="ca-pub-1240300401801822"
                     data-ad-slot="2910027507"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div> -->
        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="135214" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Magic_Sauce/47899' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/magic_sauce_recipeece9.jpg" alt="Magic Sauce Recipe"><br />
					<span class='recipe-name'>
						Magic Sauce
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=53"> 
						101 Cookbooks
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="53362" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Spicy_Dr_Pepper_Shredded_Pork/47042' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/5551711173_dc42f7fc4b_zbd8a.jpg" alt="Spicy Dr. Pepper Shredded Pork Recipe"><br />
					<span class='recipe-name'>
						Spicy Dr. Pepper Shredded Pork
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=20"> 
						The Pioneer Woman
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="77801" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Parmesan_Roasted_Potatoes/713134' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/ParmesanRoastedPotatoes11985a.jpg" alt="Parmesan Roasted Potatoes Recipe"><br />
					<span class='recipe-name'>
						Parmesan Roasted Potatoes
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=51"> 
						Whats Gaby Cooking
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="134338" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Bacon_Wrapped_Jalapeno_Popper_Stuffed_Chicken/35120' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/Bacon2BWrapped2BJalapeno2BPopper2BStuffed2BChicken2B5002B5909939b0e65.jpg" alt="Bacon Wrapped Jalapeno Popper Stuffed Chicken Recipe"><br />
					<span class='recipe-name'>
						Bacon Wrapped Jalapeno Popper Stuffed Chicken
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=52"> 
						Closet Cooking
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="131645" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/The_Best_Chocolate_Cake/035865' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/BlackMagicCakeSlice1of18c68.jpg" alt="The Best Chocolate Cake Recipe"><br />
					<span class='recipe-name'>
						The Best Chocolate Cake
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=45"> 
						My Baking Addiction
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="134935" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Hot_Spinach_and_Artichoke_Dip/35368' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/HotSpinachandArtichokeDip5007579cdf5.jpg" alt="Hot Spinach and Artichoke Dip Recipe"><br />
					<span class='recipe-name'>
						Hot Spinach and Artichoke Dip
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=52"> 
						Closet Cooking
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="53862" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Smashed_Chickpea__Avocado_Salad_Sandwich/54400' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/smashedchickpeaavocadosaladsandwich29c5b.jpg" alt="Smashed Chickpea & Avocado Salad Sandwich Recipe"><br />
					<span class='recipe-name'>
						Smashed Chickpea & Avocado Salad Sandwich
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=21"> 
						Two Peas and Their Pod
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        
            <!-- <div class="item">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="fluid"
                     data-ad-layout-key="-7y+er-j-q+3h"
                     data-ad-client="ca-pub-1240300401801822"
                     data-ad-slot="2910027507"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div> -->
        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="53491" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Restaurant_Style_Salsa/47166' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/4307514771_c089bbd71017f42.jpg" alt="Restaurant Style Salsa Recipe"><br />
					<span class='recipe-name'>
						Restaurant Style Salsa
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=20"> 
						The Pioneer Woman
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="53713" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/The_Best_Lasagna_Ever/8f3e73' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/387114468_aafd1be3404a2f.jpg" alt="The Best Lasagna Ever Recipe"><br />
					<span class='recipe-name'>
						The Best Lasagna Ever
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=20"> 
						The Pioneer Woman
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="131750" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Mac_and_Cheese_with_Roasted_Chicken_Goat_Cheese_and_Rosemary/e7fdb2' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/MacandCheese1122b.jpg" alt="Mac and Cheese with Roasted Chicken, Goat Cheese, and Rosemary Recipe"><br />
					<span class='recipe-name'>
						Mac and Cheese with Roasted Chicken, Goat Cheese, and Rosemary
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=45"> 
						My Baking Addiction
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="134694" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Guinness_Chocolate_Cheesecake/35354' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/Guinness2BChocolate2BCheesecake2B12B5002af4b6b4.jpg" alt="Guinness Chocolate Cheesecake Recipe"><br />
					<span class='recipe-name'>
						Guinness Chocolate Cheesecake
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=52"> 
						Closet Cooking
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="136745" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Banana_Bread/35760' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/banana_bread300x2000a14c8c5.jpeg" alt="Banana Bread Recipe"><br />
					<span class='recipe-name'>
						Banana Bread
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=54"> 
						Simply Recipes
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="39643" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/The_Best_Rolled_Sugar_Cookies/32478' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/9956913c10.jpg" alt="The Best Rolled Sugar Cookies Recipe"><br />
					<span class='recipe-name'>
						The Best Rolled Sugar Cookies
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=11"> 
						All Recipes
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="53889" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Guacamole_Grilled_Cheese_Sandwich/54427' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/GuacamoleGrilledCheese6019.jpg" alt="Guacamole Grilled Cheese Sandwich Recipe"><br />
					<span class='recipe-name'>
						Guacamole Grilled Cheese Sandwich
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=21"> 
						Two Peas and Their Pod
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        
            <!-- <div class="item">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="fluid"
                     data-ad-layout-key="-7y+er-j-q+3h"
                     data-ad-client="ca-pub-1240300401801822"
                     data-ad-slot="2910027507"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div> -->
        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="53951" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/TwoIngredient_Banana_Peanut_Butter_Ice_Cream/54489' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/bananapeanutbuttericecream5c16d.jpg" alt="Two-Ingredient Banana Peanut Butter Ice Cream Recipe"><br />
					<span class='recipe-name'>
						Two-Ingredient Banana Peanut Butter Ice Cream
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=21"> 
						Two Peas and Their Pod
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="136573" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Easy_Shepherds_Pie/36259' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/shepherdspie300x2003d240a98.jpg" alt="Easy Shepherd&#8217;s Pie Recipe"><br />
					<span class='recipe-name'>
						Easy Shepherd&#8217;s Pie
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=54"> 
						Simply Recipes
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="134697" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Buffalo_Chicken_Chowder/35169' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/Buffalo2BChicken2BChowder2B5002B0075c131caa8.jpg" alt="Buffalo Chicken Chowder Recipe"><br />
					<span class='recipe-name'>
						Buffalo Chicken Chowder
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=52"> 
						Closet Cooking
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="9155" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Best_Brownies/3620' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/720553ee26.jpg" alt="Best Brownies Recipe"><br />
					<span class='recipe-name'>
						Best Brownies
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=11"> 
						All Recipes
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="36085" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Slow_Cooker_Chicken_Tortilla_Soup/29159' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/19321150c4.jpg" alt="Slow Cooker Chicken Tortilla Soup Recipe"><br />
					<span class='recipe-name'>
						Slow Cooker Chicken Tortilla Soup
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=11"> 
						All Recipes
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="8246" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Banana_Crumb_Muffins/2803' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/124030cedd.jpg" alt="Banana Crumb Muffins Recipe"><br />
					<span class='recipe-name'>
						Banana Crumb Muffins
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=11"> 
						All Recipes
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="8170" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Banana_Banana_Bread/2734' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/254186ea50.jpg" alt="Banana Banana Bread Recipe"><br />
					<span class='recipe-name'>
						Banana Banana Bread
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=11"> 
						All Recipes
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        
            <!-- <div class="item">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="fluid"
                     data-ad-layout-key="-7y+er-j-q+3h"
                     data-ad-client="ca-pub-1240300401801822"
                     data-ad-slot="2910027507"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div> -->
        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="135025" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Nikki/47692' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/healthy_cookies4ee3.jpg" alt="Nikki Recipe"><br />
					<span class='recipe-name'>
						Nikki
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=53"> 
						101 Cookbooks
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
        

        

		<div class = "item">
			<div>
				<a 

	
			class="like-button btn"
	
	

	href="/register/login?_next=%2Ftop" data-doc="42232" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>
				
				<a href='/view/Zesty_Slow_Cooker_Chicken_Barbeque/34889' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/4515542dbb.jpg" alt="Zesty Slow Cooker Chicken Barbeque Recipe"><br />
					<span class='recipe-name'>
						Zesty Slow Cooker Chicken Barbeque
					</span>
				</a>
				
				<br />
				
				<span class ='publisher'>
					
					
					<a href="/publishers/view?p=11"> 
						All Recipes
					</a>
					
				</span>
				
				<span class="pull-right">
					<span class="badge badge-important">
						100
					</span>
				</span>
				
			</div>
		</div>
	    
	
</div>

</div>
</div>
</div>

  <footer class="page-footer font-small pt-4 footer-styling">
		<div class="container text-center text-md-left">
		  <div class="row">
			<div class="col-md mt-md-0 mt-3">
			  <h3 class="text-uppercase" style="color: white;">ML Foodie</h3>
			</div>
			<hr class="clearfix w-100 d-md-none pb-3">
			<div class="col-md mb-md-0 mb-3 justify-content-end">
				<h5 class="text-uppercase" style="color: white;">Created By</h5>
				<ul class="list-unstyled">
				  <li>Eric Liu</li>
          <li>Mark Chen</li>
				</ul>
			  </div>
		  </div>
		</div>
	</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
</script>
<script src="{{ url_for('static', filename='js/jquery.masonry.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/mainScript.js') }}"></script>

<script type="text/javascript">
      //jQuery Masonry for image alignment
		$(function() {
			var $container = $('#imgcontainer');
			var oneColumnWidth = 251;
			var numberOfColumns = Math.floor(Math.max($container.width() / oneColumnWidth, 1));
			var columnWidth = $container.width() / numberOfColumns;

			console.dir({'columnWidth': columnWidth, numberOfColumns: numberOfColumns})

			$container.imagesLoaded(function(){
			  $container.masonry({
			    itemSelector : '.item',
			    columnWidth : 251,
			    isFitWidth: true
			  });
			});
		});

		$(window).scroll(function() {
			var scrollTop = $(this).scrollTop();
			var elementHeight = $('.block-one').height();
			$('.bg-nav').css({
				background: function() {
					var a = 1 - (elementHeight - scrollTop) / elementHeight;
					return "rgba(16,16,16," + a + ")";
				}
			});
		});
	</script>
</body>
</html>